<a href="#new-post" class="floating-post-button" aria-label="Create a new post" title="Create a new post">✍🏻</a>

<footer class="site-footer">
    <p>&copy; 2026 &nbsp;Friky17 &nbsp;All rights reserved.</p>
</footer>